name: Update Discord Status

on:
  schedule:
    - cron: '0 */6 * * *' # Run every 6 hours
  workflow_dispatch: # Allows manual trigger from GitHub UI

permissions:
  contents: write

jobs:
  update-content:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install requests

      - name: Run Fetch Script
        env:
          DISCORD_TOKEN: ${{ secrets.DISCORD_TOKEN }}
          CHANNEL_ID: ${{ secrets.CHANNEL_ID }}
        run: python fetch_discord.py

      - name: Commit and Push if changed
        run: |
          git config --global user.name 'N-Baya Bot'
          git config --global user.email 'bot@nbaya.com'
          git add discord_update.json
          git diff --quiet && git diff --staged --quiet || (git commit -m "Update Discord status [skip ci]" && git push)
